
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

/public/images/tricks/uploads/*
/public/images/users/uploads
!/public/images/tricks/uploads/180.jpeg
!/public/images/tricks/uploads/360.jpeg
!/public/images/tricks/uploads/540.jpeg
!/public/images/tricks/uploads/1080.jpeg
!/public/images/tricks/uploads/indy.jpeg
!/public/images/tricks/uploads/japan.jpeg
!/public/images/tricks/uploads/mactwist.jpeg
!/public/images/tricks/uploads/mute.jpeg
!/public/images/tricks/uploads/nosegrab.jpeg
!/public/images/tricks/uploads/sad.jpeg
!/public/images/tricks/uploads/tailSlide.jpeg
!/public/images/tricks/uploads/snowboard_main.jpeg

/public/test-coverage