{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <img class="homeBigImg" src="/images/home/snowboard.jpg" alt="Image de couverture Snowboard" />
    <h1>Hello Maxou</h1>
    <div><a href="{{ path('trick_new') }}">Ajouter un article</a></div>
    <div><a href="{{ path('trick_edit',{id:18})}}">Editer le * article</a></div>
    <div><a href="{{ path('trick_show',{slug:"icimettrevraislug",id:18})}}">Voir le * article</a></div>
    <a href="{{ asset('images/tricks/uploads/' ~ 'rurouni-kenshin-60b6429879fef.jpg') }}">View Image</a>
{% endblock %}
