/* HOME */
.homeBigImg{
    object-fit: cover;
    width:100%;
    height: 100vh;
}

.trickHomeImg{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* FORMS */

.invalid-feedback {
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #f2dede;
    color: #a94442;
    border: 1px #ebcccc solid;
}

label.custom-file-label{
    display: none !important;
}

@import '~bootstrap/scss/bootstrap';