{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <p>
        Il semble que vous fassiez du hors-piste...
        <a href="{{ path('home') }}">Return to the homepage</a>.
    </p>
{% endblock %}