{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Il semble que vous fassiez du hors-piste...</h1>

		<div>
			<a href="{{ path('home') }}">Page d'accueil</a>
		</div>
	</div>
{% endblock %}
