{% extends 'base.html.twig' %}

{% block title %}Modifier une figure{% endblock %}

{% block body %}
    <h1>Modifier une figure</h1>

    {{ include('trick/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('form') }}
{% endblock %}