{% extends 'base.html.twig' %}

{% block title %}Nouvelle figure
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Nouvelle figure</h1>

		{{ include('trick/_form.html.twig') }}

		<a href="{{ path('home') }}">Retour à la page d'accueil</a>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('form') }}
{% endblock %}
