{% extends 'base.html.twig' %}

{% block title %}Nouvelle figure
{% endblock %}

{% block body %}
	<div><img class="newEditBackgroundBigImg" src="/images/home/snowboard.jpg" alt="Image de couverture snowboard"/></div>
	<div class="text-center">
		<h1 class="newEditTitle">Nouvelle figure</h1>
	</div>
	<div class="newEditContainer">
		{{ include('trick/_form.html.twig') }}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('form') }}
{% endblock %}
